<div class="content-header">
  <h4>{{ "managers" | translate }} ({{ (data$ | async)?.length }})</h4>
  <div class="content-header__right">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        type="text"
        [(ngModel)]="searchText"
        nz-input
        placeholder="Найти менеджера"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>
        <span nz-icon nzType="search"></span>
      </button>
    </ng-template>
    <button nz-button nzType="primary">{{ "add" | translate }}</button>
  </div>
</div>

<nz-table
  *ngIf="data$ | async as listOfData"
  #basicTable
  [nzData]="listOfData | search : searchText"
  [nzScroll]="{ y: '400px' }"
>
  <thead>
    <tr>
      <th>{{ "user" | translate }}</th>
      <th>{{ "phone" | translate }}</th>
      <th>{{ "login" | translate }}</th>
      <th>{{ "actions" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.f_name + " " + data.l_name }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.login }}</td>
      <td>
        <button nz-button nzType="default">
          <span
            nz-icon
            nzType="delete"
            nzTheme="twotone"
            [nzTwotoneColor]="'#52c41a'"
          ></span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
