<!-- HEADER -->
<az-header-with-divider-advanced
  [config]="{
    title: 'managers' | translate,
    searchInputAdvancedConfig: searchInputConfig
  }"
  (clickedAddEditButton)="addEdit()"
  (onSearch)="search()"
></az-header-with-divider-advanced>

<!-- BODY -->
<az-grid
  [data]="searchInputConfig.filteredData"
  [columns]="columns"
  (deleted)="delete($event)"
  (addEdited)="addEdit($event)"
  [nzWidthConfig]="nzWidthConfig"
  [columnTemplate]="template"
>
  <ng-template #template let-column let-data="data">
    <ng-container [ngSwitch]="column.field">
      <ng-container *ngSwitchCase="'f_name'"
        >{{ data.f_name }} {{ data.l_name }}</ng-container
      >
    </ng-container>
  </ng-template>
</az-grid>
