<div class="header">
  <div class="container">
    <div class="header__block">
      <!-- LOGO -->
      <div class="header__block__logo">
        <img src="./assets/images/logo.svg" alt="logo" />
      </div>
      <!-- MENU LINK -->
      <ul class="header__block__menu">
        <li>
          <a href="#about">Биз ҳақимизда</a>
        </li>
        <li>
          <a href="#about">Мақсадимиз</a>
        </li>
        <li>
          <a>Бизнинг жамоа</a>
        </li>
        <li>
          <a href="#about">Ўқув дастури</a>
        </li>
        <li>
          <a>Янгиликлар</a>
        </li>
        <li>
          <a>Фотогалерея</a>
        </li>
      </ul>
      <!-- INFO -->
      <div class="header__block__info">
        <div class="header__block__info__phone">
          <span><img src="./assets/images/phone.svg" alt="phone" /></span
          ><a href="tel:1319">1319</a>
        </div>
        <div class="header__block__info__language">
          <span><img src="./assets/images/world.svg" alt="world" /></span>
          <ul>
            <li>O’zb</li>
            <nz-divider nzType="vertical"></nz-divider>
            <li class="active">Ўзб</li>
            <nz-divider nzType="vertical"></nz-divider>
            <li>Рус</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
