ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.header {
  padding: 24px 0;

  &__block {
    display: flex;
    justify-content: space-between;

    &__logo {
      cursor: pointer;
    }

    &__menu {
      display: flex;
      align-items: center;
      gap: 0 20px;

      li {
        a {
          font-size: 16px;
          line-height: 20px;
          font-family: Agrofont-Regular;
          color: #000;
          transition: 0.5s;

          &:hover {
            color: #5078ff;
          }

          &:active {
            color: #2551e5;
          }
        }
      }
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 0 32px;

      &__phone {
        display: flex;
        align-items: center;
        gap: 0 8px;

        a {
          font-size: 20px;
          line-height: 20px;
          color: #0068ff;
          font-family: Agrofont-Medium;
        }
      }

      &__language {
        display: flex;
        align-content: center;
        gap: 0 8px;

        ul {
          display: flex;
          align-items: center;

          li {
            color: #b0b4c1;
            font-size: 16px;
            line-height: 20px;
            font-family: Agrofont-Regular;
            cursor: pointer;

            &.active {
              color: #0068ff;
            }
          }
        }
      }
    }
  }
}
