<div class="header">
  <div class="container">
    <div class="header__block">
      <!-- LOGO -->
      <div class="header__block__logo">
        <img src="./assets/images/logo.svg" alt="logo" />
      </div>
      <!-- MENU LINK -->
      <ul class="header__block__menu">
        <li>
          <a href="#about">{{ "aboutUs" | translate }}</a>
        </li>
        <li>
          <a href="#about">{{ "ourTarget" | translate }}</a>
        </li>
        <li>
          <a>{{ "ourTeam" | translate }}</a>
        </li>
        <li>
          <a href="#about">{{ "studyPlan" | translate }}</a>
        </li>
        <li>
          <a>{{ "news" | translate }}</a>
        </li>
        <li>
          <a>{{ "gallery" | translate }}</a>
        </li>
      </ul>
      <!-- INFO -->
      <div class="header__block__info">
        <div class="header__block__info__phone">
          <span><img src="./assets/images/phone.svg" alt="phone" /></span
          ><a href="tel:1319">1319</a>
        </div>
        <div class="header__block__info__language">
          <span><img src="./assets/images/world.svg" alt="world" /></span>
          <ul>
            <ng-container
              *ngFor="let language of languageCodes; let isLast = last"
            >
              <li
                (click)="onChangeLanguage(language.code)"
                [ngClass]="{ active: currentLanguage === language.code }"
              >
                {{ language.short_name }}
              </li>
              <nz-divider *ngIf="!isLast" nzType="vertical"></nz-divider>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
