<div class="partners">
  <h3 class="partners__title title">{{ "partners" | translate }}</h3>
  <div class="partners__card">
    <div class="card">
      <img src="./assets/images/partners/agrobank.svg" alt="partner img" />
    </div>
    <div class="card">
      <div class="card-unflexible">
        <img src="./assets/images/partners/suv.png" alt="partner img" />
      </div>
    </div>
    <div class="card">
      <img src="./assets/images/partners/OzRes.png" alt="partner img" />
    </div>
    <div class="card">
      <img src="./assets/images/partners/mtu.png" alt="partner img" />
    </div>
    <div class="card">
      <img src="./assets/images/partners/agrar.png" alt="partner img" />
    </div>
    <div class="card">
      <img src="./assets/images/partners/farm-school.svg" alt="partner img" />
    </div>
  </div>
</div>
