<div class="application">
  <h3 class="title application__title">
    Сувчилик ўқув курси рўйхатга олиш сўровномаси
  </h3>

  <div class="application__steps">
    <nz-steps [nzCurrent]="current" (nzIndexChange)="onIndexChange($event)">
      <nz-step></nz-step>
      <nz-step></nz-step>
      <nz-step></nz-step>
    </nz-steps>

    <div class="application__steps__content" *ngIf="current === 0">
      <form [formGroup]="formStepFirst" (ngSubmit)="submitFirstStep()">
        <div class="application__form">
          <div class="application__form__item">
            <label for="first" class="application__form__item__label"
              >Телефон рақамингиз</label
            >
            <nz-input-group [nzPrefix]="prefixTemplatePhone" nzSize="large">
              <input
                formControlName="phone"
                id="first"
                nz-input
                placeholder="Basic usage"
              />
            </nz-input-group>
          </div>
          <div class="application__form__item">
            <label for="first" class="application__form__item__label"
              >Шарифингиз</label
            >
            <nz-input-group [nzPrefix]="prefixTemplateUser" nzSize="large">
              <input
                formControlName="lastName"
                id="first"
                nz-input
                placeholder="Шарифингиз"
              />
            </nz-input-group>
          </div>
          <div class="application__form__item">
            <label for="first" class="application__form__item__label"
              >Исмингиз</label
            >
            <nz-input-group [nzPrefix]="prefixTemplateUser" nzSize="large">
              <input
                formControlName="firstName"
                id="first"
                nz-input
                placeholder="Исмингиз"
              />
            </nz-input-group>
          </div>
          <div class="application__form__item">
            <label for="first" class="application__form__item__label"
              >Туғилган санангиз</label
            >
            <!-- <nz-input-group [nzPrefix]="prefixTemplateDate" nzSize="large"> -->
            <!-- <input id="first" nz-input placeholder="Basic usage" /> -->
            <nz-date-picker
              formControlName="date"
              nzSize="large"
              nzSuffixIcon=""
              nzPlaceHolder="Туғилган санангиз"
            ></nz-date-picker>
            <!-- </nz-input-group> -->
          </div>
          <div class="application__form__item">
            <label for="first" class="application__form__item__label"
              >Фамилиянгиз</label
            >
            <nz-input-group [nzPrefix]="prefixTemplateUser" nzSize="large">
              <input
                id="first"
                formControlName="surname"
                nz-input
                placeholder="Фамилиянгиз"
              />
            </nz-input-group>
          </div>
          <div class="application__form__item">
            <label for="first" class="application__form__item__label"
              >Жинсингиз</label
            >
            <div class="radio-block">
              <label class="radio">
                <input
                  type="radio"
                  name="sex"
                  [(ngModel)]="sex"
                  value="man"
                  [ngModelOptions]="{ standalone: true }"
                />
                <span class="radio__checker"><span></span></span>
                <span class="radio__text">Эркак</span>
              </label>
              <label class="radio">
                <input
                  type="radio"
                  name="sex"
                  [(ngModel)]="sex"
                  value="woman"
                  [ngModelOptions]="{ standalone: true }"
                />
                <span class="radio__checker"><span></span></span>
                <span class="radio__text">Аёл</span>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="application__steps__content" *ngIf="current === 1">
      <form [formGroup]="formStepSecond" (ngSubmit)="submitSecondStep()">
        <div class="application__form">
          <div class="application__form__item">
            <label for="company" class="application__form__item__label"
              >Фермер ёки деҳқон хўжалиги номи</label
            >
            <input
              formControlName="company"
              id="company"
              nzSize="large"
              nz-input
            />
          </div>
          <div class="application__form__item">
            <label for="company" class="application__form__item__label"
              >Фермер ёки деҳқон хўжалиги номи</label
            >
            <div class="application__form__item-double-select">
              <div class="application__form__item-double-select__left select">
                <nz-select
                  formControlName="region"
                  nzSize="large"
                  nzPlaceHolder="Вилоят"
                >
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  <nz-option
                    nzValue="disabled"
                    nzLabel="Disabled"
                    nzDisabled
                  ></nz-option>
                </nz-select>
              </div>
              <div class="application__form__item-double-select__right select">
                <nz-select
                  formControlName="district"
                  nzSize="large"
                  nzPlaceHolder="Туман"
                >
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  <nz-option
                    nzValue="disabled"
                    nzLabel="Disabled"
                    nzDisabled
                  ></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div class="application__form__item">
            <label for="first" class="application__form__item__label"
              >Сизнинг лавозимингиз</label
            >
            <div class="radio-block">
              <label class="radio">
                <input
                  type="radio"
                  name="sex"
                  [(ngModel)]="position"
                  [value]="1"
                  [ngModelOptions]="{ standalone: true }"
                />
                <span class="radio__checker"><span></span></span>
                <span class="radio__text">Хўжалик рахбари</span>
              </label>
              <label class="radio">
                <input
                  type="radio"
                  name="sex"
                  [(ngModel)]="position"
                  [value]="2"
                  [ngModelOptions]="{ standalone: true }"
                />
                <span class="radio__checker"><span></span></span>
                <span class="radio__text">Бухгалтери</span>
              </label>
              <label class="radio">
                <input
                  type="radio"
                  name="sex"
                  [(ngModel)]="position"
                  [value]="3"
                  [ngModelOptions]="{ standalone: true }"
                />
                <span class="radio__checker"><span></span></span>
                <span class="radio__text">Ишчиси</span>
              </label>
            </div>
          </div>
          <div class="application__form__item">
            <label for="company" class="application__form__item__label"
              >Фермер ва деҳқон хўжалиги фаолият тури</label
            >
            <div class="application__form__item-double-select">
              <div class="application__form__item-double-select__left select">
                <nz-select nzSize="large" formControlName="category" nzPlaceHolder="Пахтачилик/ғаллачилик">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  <nz-option
                    nzValue="disabled"
                    nzLabel="Disabled"
                    nzDisabled
                  ></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="application__steps__content" *ngIf="current === 2">
      <div class="application__finish">
        <div class="application__finish__block">
          <div class="application__finish__block__img">
            <img src="./assets/images/user-id.svg" alt="user-id" />
          </div>
          <h3 class="application__finish__block__title">
            Сизнинг ID рақамингиз
          </h3>
          <span class="application__finish__block__num">202300001</span>
        </div>
        <div class="application__finish__block">
          <div class="application__finish__block__img">
            <img src="./assets/images/sertificate.svg" alt="sertificate icon" />
          </div>
          <h3 class="application__finish__block__title">
            Курс якунлангандан сўнг, шу ерда сертификатингизни юклаб олишингиз
            мумкин
          </h3>
        </div>
      </div>
    </div>

    <!-- STEP ACTIONS -->
    <div class="application__steps__action">
      <button
        nz-button
        nzSize="large"
        nzType="primary"
        (click)="next()"
        *ngIf="current < 2"
      >
        <span>Кейинги</span
        ><span nz-icon nzType="arrow-right" nzTheme="outline"></span>
      </button>
      <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
        <span><img src="./assets/images/check.svg" alt="phone" /></span>
        <span>Тушунарли</span>
      </button>
    </div>
  </div>
</div>

<ng-template #prefixTemplatePhone
  ><span><img src="./assets/images/phone.svg" alt="phone" /></span
></ng-template>

<ng-template #prefixTemplateDate
  ><span><img src="./assets/images/calendar.svg" alt="phone" /></span
></ng-template>

<ng-template #prefixTemplateUser
  ><span nz-icon style="color: #b0b4c1" nzType="user"></span
></ng-template>
