<div class="get-sertificate">
  <h2 class="title get-sertificate__title">
    {{ "downloadTheSertificate" | translate }}
  </h2>
  <ng-template #search>
    <form nz-form nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzFor="number"
          ><span class="form-label">{{
            "sertificateID" | translate
          }}</span></nz-form-label
        >
        <nz-form-control>
          <nz-input-group nzSize="large" [nzPrefix]="prefixTemplateUser">
            <input
              type="text"
              id="number"
              [(ngModel)]="certificate_id"
              nz-input
              [placeholder]="'putSertificateID' | translate"
              [ngModelOptions]="{ standalone: true }"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button
        #searchBtn
        type="button"
        nz-button
        nzType="primary"
        nzBlock
        [ngxAsyncClick]="searchSertificate.bind(this, searchBtn)"
      >
        <span nz-icon nzType="search" nzTheme="outline"></span
        >{{ "search" | translate }}
      </button>
    </form>
  </ng-template>

  <ng-container *ngIf="sertificateForDownload; else search">
    <div class="get-sertificate__doc">
      <div class="get-sertificate__doc__file">
        <div class="get-sertificate__doc__file__img">
          <img src="./assets/images/pdf-icon.svg" alt="doc" />
        </div>
        <p>
          {{ "sertificate" | translate }} №
          <span>{{ certificate_id }}</span> ({{
            (sertificateForDownload.size / 1024 / 1024).toFixed(2)
          }}
          мб)
        </p>
      </div>
      <button
        nz-button
        nzType="primary"
        nzBlock
        (click)="downloadSertificate(sertificateForDownload)"
      >
        <span nz-icon nzType="vertical-align-bottom" nzTheme="outline"></span
        >{{ "downlaod" | translate }}
      </button>
    </div>
  </ng-container>
</div>

<ng-template #prefixTemplateUser
  ><span nz-icon><img src="./assets/images/key.svg" alt="key" /></span
></ng-template>
