<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <img src="./assets/images/logo-sm-white.svg" alt="logo" />
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="applications" nzMatchRouter>
        <span nz-icon nzType="profile" nzTheme="outline"></span>
        <span>Заявки</span>
      </li>
      <li nz-menu-item routerLink="managers" nzMatchRouter>
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>Менеджеры</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    </nz-header>
    <nz-content>
      <div class="inner-content"><router-outlet></router-outlet></div>
    </nz-content>
  </nz-layout>
</nz-layout>
