<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div [ngClass]="isCollapsed ? 'logoMini' : 'logo'">
      <img
        *ngIf="!isCollapsed; else logoMini"
        src="./assets/images/logo-sm-white.svg"
        alt="logo"
      />
      <ng-template #logoMini>
        <img src="./assets/images/logo-without-text.svg" alt="logo" />
      </ng-template>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="dashboard" nzMatchRouter>
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        <span>{{ "statistic" | translate }}</span>
      </li>
      <li nz-menu-item routerLink="applications" nzMatchRouter>
        <span nz-icon nzType="profile" nzTheme="outline"></span>
        <span>{{ "applications" | translate }}</span>
      </li>
      <li nz-menu-item routerLink="managers" nzMatchRouter *ngIf="admin">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>{{ "managers" | translate }}</span>
      </li>
      <li nz-menu-item routerLink="banner" nzMatchRouter *ngIf="admin">
        <span nz-icon nzType="insert-row-above" nzTheme="outline"></span>
        <span>{{ "banner" | translate }}</span>
      </li>
      <li nz-submenu [nzTitle]="'aboutUs' | translate" nzIcon="team">
        <ul>
          <li nz-menu-item routerLink="about/image" nzMatchRouter>
            {{ "image" | translate }}
          </li>
          <li nz-menu-item routerLink="about/about-us" nzMatchRouter>
            {{ "aboutUs" | translate }}
          </li>
          <li nz-menu-item routerLink="about/study-plan" nzMatchRouter>
            {{ "studyPlan" | translate }}
          </li>
          <!-- <li nz-menu-item routerLink="about/learning-material" nzMatchRouter>
            {{ "learningMaterial" | translate }}
          </li> -->
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header">
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
        <div class="header__info">
          <app-languages></app-languages>
          <button (click)="logout()" nz-button nzType="primary">
            <span nz-icon nzType="poweroff" nzTheme="outline"></span
            >{{ "exit" | translate }}
          </button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content"><router-outlet></router-outlet></div>
    </nz-content>
  </nz-layout>
</nz-layout>
