<div class="content-header">
  <h4>{{ "applications" | translate }} ({{ data.length }})</h4>
  <div class="content-header__right">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Найти заявку" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>
        <span nz-icon nzType="search"></span>
      </button>
    </ng-template>
    <button nz-button nzType="primary">{{ "add" | translate }}</button>
  </div>
</div>

<nz-table #basicTable [nzData]="data">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Category</th>
      <th>Location</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.f_name + ' ' + data.l_name }}</td>
      <td>{{ data.farm_name }}</td>
      <td>{{ data.phone }}</td>
      <!-- switch -->
      <td>{{ data.farm_type }}</td>
      <td>{{ data.district_id }}</td>
      <!-- swiitch -->
      <td>{{ data.status }}</td>
      <td>
        <a>Edit</a>
      </td>
    </tr>
  </tbody>
</nz-table>
