<div class="footer">
  <div class="container">
    <div class="footer__block">
      <div class="footer__block__info">
        <div class="footer__logo">
          <img src="./assets/images/footer-logo.svg" alt="logo" />
        </div>
        <nz-divider nzType="vertical"></nz-divider>
        <div class="footer__links">
          <a target="_blank" href="https://t.me/suvchilar_maktabi_bot">
            <img src="./assets/images/footer-tg.svg" alt="icon" />
          </a>
          <a href="">
            <img src="./assets/images/fb-footer.svg" alt="icon" />
          </a>
          <a href="">
            <img src="./assets/images/inst-footer.svg" alt="icon" />
          </a>
        </div>
      </div>

      <div class="footer__block__contacts">
        <a href="tel:1319" class="footer__block__contacts__phone">
          <img src="./assets/images/phone-footer.svg" alt="phone" />
          <span>1319</span>
        </a>
        <a class="footer__block__contacts__email">
          <img src="./assets/images/Message-footer.svg" alt="phone" />
          <span>info@suvchilarmaktabi.uz</span>
        </a>
      </div>
    </div>
  </div>
</div>
