<div class="about">
  <div class="about-img">
    <img src="./assets/images/about.jpg" alt="about img" />
  </div>
  <div class="about-content">
    <h3 class="about-content__title title">Биз ҳақимизда</h3>
    <div class="about-tabs">
      <nz-tabset>
        <nz-tab nzTitle="Биз ҳақимизда">
          <div class="about-tabs__content">
            <h3>Биз ҳақимизда</h3>
            <p>
              Сувчилар мактаби – бу қишлоқ хўжалиги махсулотлари йетиштириш,
              қайта ишлаш ва ҳосилдорликни оширишда сувдан фойдаланишнинг
              замонавий усуллари, инновацион ва енергия тежамкор
              техналогиялардан фойдаланиш ва илғор хорижий мамлакатлар
              тажрибасини амалиёт асосида фермер ва деҳқонларимизга ўргатишда
              Aгробанк томонидан ташкил қилинган янги лойиҳа
            </p>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Мақсадимиз">
          <div class="about-tabs__content">
            <h3>Мақсадимиз</h3>
            <p>
              Сўнгги йилларда агросаноат мажмуасида юқори ҳосил олиш , сув ва
              енергия ресусрсларидан оқилона фойдаланиш бугунги кун талабига
              айланиб бормоқда. Ушбу лойиҳа– олий таълим муассасалари ҳамда
              илғор хорижий мамлакатлар мутахасислари билан ҳамкорликда
              замонавий суғориш усуллари ва технологияларидан фойдаланишда
              фермер-деҳқонларимиз ва соҳа мутахасисларини қисқа муддатли
              курсларда ўқитиш орқали малакасини ошириш ва замонавий билимлар
              билан таништириш мақсадида ташкил етилган
            </p>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Ўқув дастури">
          <div class="about-tabs__content">
            <h3>Ўқув дастури</h3>
            <p>
              - анъанавий усулда республикамизни барча туманларида график
              асосида ташкил етилади. Кимлар қатнашиши мумкин: Соҳа
              мутахасислари ва фермер хўжалиги ҳамда томорқа йер егалари
              раҳбарлари. Қандай рўйхатдан ўтиш керак: Рўйхатдан ўтиш онлине
              форматда ушбу сайт ва телеграм-бот орқали амалга оширилади. Курс
              якунида иштирокчилар махсус сертификатга ега бўладилар
            </p>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
