.about {
  display: flex;
  padding-top: 100px;
  gap: 0 30px;

  @media (max-width: 1080px) {
    padding-top: 80px;
    gap: 0 20px;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    padding-top: 48px;
  }

  @media (max-width: 575px) {
    padding-top: 40px;
    flex-wrap: wrap;
  }

  @media (max-width: 480px) {
    padding-top: 32px;
  }

  &-img {
    width: 450px;
    height: 550px;
    border-radius: 24px;
    overflow: hidden;

    @media (max-width: 1080px) {
      height: 485px;
      // width: 307px;
      width: 100%;
      order: 2;
    }

    @media (max-width: 575px) {
      order: 2;
      width: 100%;
    }

    @media (max-width: 425px) {
      order: 2;
      height: 392px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    max-width: 850px;
    width: 100%;

    @media (max-width: 1080px) {
      // max-width: 600px;
      max-width: 100%;
      order: 1;
    }

    // @media (max-width: 992px) {
    //   max-width: 530px;
    // }

    // @media (max-width: 870px) {
    //   max-width: 50vw;
    // }

    // @media (max-width: 630px) {
    //   max-width: 50vw;
    // }

    @media (max-width: 575px) {
      max-width: 600px;
      order: 1;
    }

    &__title {
      margin-bottom: 48px;

      @media (max-width: 1080px) {
        margin-bottom: 32px;
      }

      @media (max-width: 575px) {
        margin-bottom: 24px;
      }
    }
  }

  &-tabs__content {
    h3 {
      font-size: 24px;
      line-height: 30px;
      font-family: Agrofont-BExpanded;
      color: #000;
      margin-bottom: 24px;

      @media (max-width: 1080px) {
        font-size: 20px;
        line-height: 25px;
      }

      @media (max-width: 992px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
      }

      @media (max-width: 575px) {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 20px;
      line-height: 25px;
      font-family: Agrofont-Regular;
      color: #000;

      @media (max-width: 1080px) {
        font-size: 18px;
        line-height: 23px;
      }

      @media (max-width: 992px) {
        // font-size: 16px;
        // line-height: 20px;
        margin-bottom: 20px;
      }

      @media (max-width: 575px) {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
      }

      &.tab-text {
        font-size: 16px;
        line-height: 20px;

        @media (max-width: 1080px) {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}

:host ::ng-deep {
  .ant-tabs-top>.ant-tabs-nav::before {
    border-bottom: none !important;
  }

  .ant-tabs-tab+.ant-tabs-tab {
    margin-left: 16px;
  }

  .ant-tabs-ink-bar {
    display: none;
  }

  .ant-tabs-tab {
    font-size: 18px;
    font-family: Agrofont-Medium;
    color: #b0b4c1;
    line-height: 23px;
    padding: 13px 24px;

    &.ant-tabs-tab-active {
      background: #5078ff;
      border-radius: 100px;

      .ant-tabs-tab-btn {
        color: #fff;
      }
    }
  }

  .ant-tabs-tab-btn:focus,
  .ant-tabs-tab-remove:focus,
  .ant-tabs-tab-btn:active,
  .ant-tabs-tab-remove:active {
    color: inherit;
  }
}

nz-tabset {
  width: 100%;
}