<div class="about">
  <div class="about-img">
    <img src="./assets/images/aboutimg-new.jpg" alt="about img" />
  </div>
  <div class="about-content">
    <h3 class="about-content__title title">{{ "aboutUs" | translate }}</h3>
    <div class="about-tabs">
      <nz-tabset>
        <nz-tab [nzTitle]="'aboutUs' | translate">
          <div class="about-tabs__content">
            <h3>{{ "aboutUs" | translate }}</h3>
            <p class="tab-text">
              <!-- {{ "aboutUsText" | translate }} -->
              “Сувчилар мактаби” ўқув курси Ўзбекистон Республикаси Президенти
              ташаббуси билан Сув хўжалиги вазирлиги, “Тошкент ирригация ва
              қишлоқ хўжалигини механизациялаш муҳандислари институти” миллий
              тадқиқот университети ва “Агробанк” АТБ томонидан ташкил этилган
              бўлиб, қишлоқ хўжалиги соҳасида ўз фаолиятини олиб бораётган
              фермер хўжаликлари раҳбар ва сувчилари ҳамда сув хўжалиги
              ходимлари бугунги кунда ўз соҳаларида қўлланилаётган инновацион
              технологиялар, соҳада ривожланган хорижий мамлакатлар амалиётига
              жорий этилаётган янги билим ва кўникмаларни эгаллаган ҳолда , ўз
              фаолиятларини такомиллаштириб, сувдан самарали фойдаланиш орқали
              юқори ҳосилдорликка эришишлари ўқув курсининг асосий мақсади
              ҳисобланади. Ўқув курсини иштирокчилари Республикамизда фаолият
              олиб бораётган фермер хўжаликлари раҳбар ва сувчилари ҳамда сув
              хўжалиги ходимлари ҳисобланади. Мазкур ўқув курсининг ўқув
              дастурлари халқаро таълим стандартларини ҳисобга олган ҳолда
              тайёрланган бўлиб, ўқув жараёни илғор педагогик ва
              ахборот-коммуникация технологияларидан кенг фойдаланган ҳолда
              ташкил этилади. Ўқув ишларини олиб бориш, маслаҳатлар бериш учун
              юқори малакали хорижий ва маҳаллий мутахассислар шартномалар
              асосида жалб этилган. Назарий ва амалий таълим бериш туманлар
              кесимида ўқув курси машғулотлари намунавий ўқув бинолари ва очиқ
              дала майдонларида ташкил этилади.
            </p>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="'ourTarget' | translate">
          <div class="about-tabs__content">
            <h3>{{ "ourTarget" | translate }}</h3>
            <p>
              <!-- {{ "ourTargetText" | translate }} -->
              Сўнгги йилларда агросаноат мажмуасида юқори ҳосил олиш,  сув ва энергия ресусрсларидан оқилона фойдаланиш ҳамда суғориладиган ерларнинг мелиоратив ҳолатини яхшилаш бугунги кун талабига айланиб бормоқда.  Ушбу лойиҳа – олий таълим муассасалари ҳамда илғор хорижий мамлакатлар мутахасислари билан ҳамкорликда замонавий суғориш усуллари ва технологияларидан фойдаланишда фермер-деҳқонларимиз ва соҳа мутахасисларини қисқа муддатли курсларда ўқитиш орқали малакасини ошириш ва замонавий билимлар билан таништириш мақсадида ташкил этилган
            </p>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="'studyPlan' | translate">
          <div class="about-tabs__content">
            <h3>{{ "studyPlan" | translate }}</h3>
            <p [innerHTML]="'studyPlanText' | translate"></p>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
