<div class="container">
  <div class="news">
    <h2 class="news__title">
      {{ "newsTitle" | translate }}
    </h2>

    <div class="news-banner">
      <p>
        {{ "newsBannerText" | translate }}
      </p>

      <div class="news-banner__logo">
        <img src="./assets/images/logo-news.svg" alt="" />
      </div>
    </div>

    <div class="news-cards">
      <div class="card" *ngFor="let n of news$ | async">
        <div class="card-img">
          <img [src]="n.photo" alt="news img" />
        </div>
        <div class="card-info">
          <div class="card-info__title">
            <p nz-typography nzEllipsis [nzEllipsisRows]="2">{{ n.title }}</p>
          </div>
          <div class="card-info__more">
            <a [routerLink]="[n.id]">{{ "moreInformation" | translate }}</a>
            <span
              nz-icon
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
            ></span>
          </div>
          <div class="card-info__date">
            <span class="date">{{ n.created_at | date : "dd.MM.yy" }}</span>
            <span class="card-info__date__right"
              ><span nz-icon nzType="eye" nzTheme="outline"></span
              ><span class="view-count">{{ n.views_count }}</span></span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="pagination">
      <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
    </div> -->

    <div class="article-banner">
      <div class="article-banner__info">
        <h3>{{ "articleTitle" | translate }}</h3>
        <p>{{ "articleText" | translate }}</p>
      </div>
      <div class="article-banner__labels">
        <div class="article-banner__labels__tg">
          <img src="./assets/images/telegram-label.svg" alt="label" />
        </div>
        <div class="article-banner__labels__fb">
          <img src="./assets/images/fb-label.svg" alt="label" />
        </div>
      </div>
      <div class="news-banner__logo">
        <img src="./assets/images/logo-news.svg" alt="" />
      </div>
    </div>
  </div>
</div>
