<div class="contacts">
  <div class="container">
    <h3 class="contacts__title title">{{ "contactUs" | translate }}</h3>
    <div class="contacts__cards">
      <div class="card">
        <div class="card__img">
          <img src="./assets/images/call-contact.svg" alt="icon" />
        </div>
        <div class="card__info">
          <h5>{{ "phone" | translate }}</h5>
          <p>1319</p>
        </div>
      </div>
      <div class="card">
        <div class="card__img">
          <img src="./assets/images/letter-contact.svg" alt="icon" />
        </div>
        <div class="card__info">
          <h5>E-mail</h5>
          <p>sm@agrobank.uz</p>
        </div>
      </div>
      <div class="card">
        <div class="card__img">
          <img src="./assets/images/network.svg" alt="icon" />
        </div>
        <div class="card__info">
          <h5>Agrobank</h5>
          <p>www.agrobank.uz</p>
        </div>
      </div>
      <div class="card">
        <div class="card__img">
          <img src="./assets/images/tg.svg" alt="icon" />
        </div>
        <div class="card__info">
          <h5>Telegram bot</h5>
          <p>{{ "tgBotText" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
