<div class="contacts">
  <div class="container">
    <h3 class="contacts__title title">Биз билан боғланинг</h3>
    <div class="contacts__cards">
      <div class="card">
        <div class="card__img">
          <img src="./assets/images/call-contact.svg" alt="icon" />
        </div>
        <h5>Телефон</h5>
        <p>1319</p>
      </div>
      <div class="card">
        <div class="card__img">
          <img src="./assets/images/letter-contact.svg" alt="icon" />
        </div>
        <h5>E-mail</h5>
        <p>sm@agrobank.uz</p>
      </div>
      <div class="card">
        <div class="card__img">
          <img src="./assets/images/network.svg" alt="icon" />
        </div>
        <h5>Agrobank</h5>
        <p>www.agrobank.uz</p>
      </div>
      <div class="card">
        <div class="card__img">
          <img src="./assets/images/tg.svg" alt="icon" />
        </div>
        <h5>Telegram bot</h5>
        <p>Телеграм бот орқали ҳам сўровнома қолдириш мумкин</p>
      </div>
    </div>
  </div>
</div>
